# Set CRLF for Windows specific script files
*.bat text eol=crlf
*.cmd text eol=crlf
*.txt text eol=crlf

# Set LF for Linux specific script files
*.sh text eol=lf
*.bash text eol=lf

# All other files on Auto
* text=auto
